@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
	background-image : url("../img/donuts.jpg");
}

div button {
	margin-right: 2em;
}

div img {
	border-radius : 1em;
	background-color: white;
}

div span {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 1em;
}

form {
	margin-top: 1em;
	margin-bottom: 1em;
}

h2 {
	text-align: center;
}

img {
	width: 100%;
	margin-bottom: 1em;
}

label { 
	font-size: 20px;
}

table {
	margin-top: 1em;
	width: 100%;
}

th {
	width: 50%;
}

td {
	padding-top: 1em;
	padding-bottom: 1em;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#adForm {
	background-color: rgba(251,201,109, .8);
	border-radius: 1em;
	padding : 1em;
}

#adForm input {
	margin-bottom: 1em;
}

#answerPage {
	margin-top: 1em;
}

#answerPage, #myForm {
	background-color: rgba(251,201,109, .8);
	border-radius: 1em;
	padding: 1em;
	margin-bottom : 1em;
}

#currentUser {
	color: blue;
}

#handle {
	margin-bottom: 1em;
}

#pointsDiv {
	margin-bottom: 1em;
}

#titleDiv, #teamID {
	background-color: rgba(251,201,109, .8);
	border-radius: 1em;
	font-weight: bold;
	padding: 1em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .2em;
	text-align: center;
}

#questionBox {
	background-color: white;
	border-radius: .5em;
	width: 100%;
	padding: 1em;
}

#winnerName {
	color: red;
}

.answer {
	font-size: 16px;
	margin-top: .5em;
}

.adminStatus {
	color: purple;
}

.answer-box, .scoreboard { 
	background-color: white;
	border-radius: .5em;
	width: 100%;
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.answerText {
	word-wrap: break-word;
}

.error {
	color: red;
	margin-bottom: 1em;
}

.glyphicon {
	margin-bottom: 0em;
}

.removeMemberBtn {
	margin-left: 30px;
}

.scoreboard {
	width: 50%;
	margin: 0 auto;
}

.showID {
	text-align: center;
	font-size: 40px;
	margin-top : 1em;
}

.teamList {
	margin-bottom: 20px;
}