<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Jack Whitesell, George Ng">
        <meta name="description" content="ADP app for guessing the activity questions">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

        <link rel="stylesheet" href="css/main.css"> 
        <script type="text/javascript" src="js/answer.js"></script>

        <title>ADP Answer Page</title>
    </head>

    <body ng-app="myApp" ng-controller="myCtrl"> 

        <div class="container">
            <header>
                <div id="teamID" class="showID container" ng-show="userID && questions.length != 0">
                    <h1>{{questions[0].text}}</h1>
                    <h2 id="winnerName" ng-show="winner.length != 0">{{winner[0].user}} got it correct!</h2>
                </div>
            </header>
        </div>     
        
        <div class="container">
            <!-- Sign-in/sign-up form: show if userId isn't defined -->
            <form id="myForm" name="myForm" ng-show="!userID && !adminClick">
                <div class="form-group">
                    <label for="handle">Pick a Group Name:</label>
                    <input id="handle" ng-model="handle" required name="handle" class="form-control" autocomplete="off">
                    <p class="error" ng-show="nameInUse">That name is already in use...</p>
                    <button ng-click="checkNames()" type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary">Enter</button>
                    <button id="aSign" ng-hide="adminClick" type="submit" ng-click="adminClick = true" class="btn btn-success">ADMIN SIGN IN</button>
                </div>

                <div class="form-group"> 
                    <img src="img/oshino_shinobu_cute.jpg">
                </div>
            </form>

            <form id="adForm" name="adminForm" ng-show="adminClick && !userID">
                <!-- <label for="adminName">NAME</label>
                <input id="adminName" ng-model="adminName" type="text" class="form-control" autocomplete="off" required> -->
                <label for="adminMail">Enter your email:</label>
                <input id="adminMail" class="form-control" ng-model="adminMail" type="email" autocomplete="off" required>
                <label for="adminPass">Enter your password:</label>
                <input id="adminPass" class="form-control" ng-model="adminPass" type="password" required>
                <button type="submit" class="btn btn-success" ng-click="adminSignIn()" ng-disabled="adminForm.$invalid">SUBMIT</button>
                <button type="submit" ng-click="adminClick = false" class="btn btn-primary">Go Back to Normal Sign In</button>
                <div>
                    <h2>You aren't an admin... go away</h2>
                    <img src="img/11222148_1687453761487140_4636548506213417227_o.jpg">
                </div>
            </form>

            <div id="answerPage" ng-show="userID">
                <form name="answerForm" ng-hide="questions.length == 0">
                    <div class="answerButton">
                        <label for="answerInput" ng-hide="isAdmin">Enter your answer here:</label>
                        <label for="answerInput" ng-show="isAdmin">Enter a message here:</label>
                        <input id="answerInput" class="form-control" type="text" ng-model="answerInput" required autocomplete="off"><br> 
                        <button class="btn btn-success" ng-click="teamAnswers()" type="submit" ng-disabled="answerForm.$invalid">SUBMIT ANSWER</button>
                    </div>
                </form>

                <div class="adminControls">
                    <div ng-show="isAdmin">
                        <form name="questionForm">
                            <label for="questionInput">Enter question here:</label><br>
                            <input id="questionInput" class="form-control" type="text" ng-model="questionInput" autocomplete="off"><br>
                            <button class="btn btn-primary" ng-click="newQuestion()" type="submit" ng-disabled="questionForm.$invalid">SUBMIT QUESTION</button>
                        </form>
                        <button id="deleteAll" class="btn btn-warning" ng-click="removeAll(); removeWinner()">DELETE ALL ANSWERS</button>
                        <button id="deletQuestion" class="btn btn-warning" ng-click="removeQuestion()">DELETE QUESTION</button>
                        <button ng-show="!showScoreboard && isAdmin" class="btn btn-info" ng-click="showScoreboard = true">SHOW SCOREBOARD</button>
                        <button ng-show="showScoreboard && isAdmin" class="btn btn-info" ng-click="showScoreboard = false">HIDE SCOREBOARD</button>
                    </div>
                </div>

                <div class="scoreboard" ng-show="showScoreboard">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                        <tr ng-repeat="user in users | orderBy : 'points'">
                            <td>{{user.handle}}</td>
                            <td>{{user.points}}</td>
                        </tr>
                    </table>
                </div>
                
                <div>
                    <div class="answer-box" ng-repeat="answer in answers | orderBy : 'time'">
                        <div>
                            <span class="handle" ng-hide="admins[answer.userID] || users[answer.userID].handle === handle">{{users[answer.userID].handle}}</span>
                            <span class="adminStatus" ng-show="admins[answer.userID]">{{admins[answer.userID].handle}}</span>
                            <span id="currentUser" ng-show="users[answer.userID].handle === handle">{{users[answer.userID].handle}}</span>
                        </div>

                        <div class="answer">
                            <p class="answerText">{{answer.text}}</p>
                            <p class="points" ng-hide="admins[answer.userID]">Points: {{users[answer.userID].points}}</p>
                        </div>

                        <div ng-show="isAdmin">
                            <div id="pointsDiv" ng-show="!admins[answer.userID]">
                                <button id="increasePoints" class='btn-xs btn-danger' ng-click="addPoints(users[answer.userID]); newWinner(users[answer.userID])"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                <button id="decreasePoints" class="btn-xs btn-danger" ng-click="decreasePoints(users[answer.userID])"><span class="glyphicon glyphicon-arrow-down"></span></button>
                            </div>

                            <div>
                                <button class="btn btn-warning" ng-click="remove(answer)">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="questions.length == 0">
                    <h2>Yui is sleeping now... come back later</h2>
                    <img src="img/Hirasawa.Yui.full.224256.jpg">
                </div>
            </div>
        </div>
    </body>
</html>